.product-txt{
    color: #749B00;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 700;
}
.car-card{
    overflow: hidden;
    position: relative;
    transition: all 1s !important;
}
.car-card-order{
    width: 80%;
    margin: auto;
}
.car-title{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;
}
.cars-header:hover{
    background-color: #CE8339;
    color: white;
    cursor: pointer;
}
.car-name:hover{
    text-decoration: underline;
    cursor: pointer;
}
.product-img{
    height: 220px;
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.car-card:hover .middle {
    opacity: 1;
}
.car-card:hover .product-img {
    opacity: 0.8;
}
.car-card:hover{
   cursor: pointer;
}

.product-img-order{
    height: 250px;
}
.product-img:hover{
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.05);
}

@media (max-width:668px){
    .car-card{
    width: 90%;
    margin: auto;
    }
    .car-card-order{
        width: 90% !important;
    }
}

@media  (min-width:668px) and (max-width:992px){
    .car-card-order{
        width: 100% !important;
    }
}
